<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>AUCA_System_Mid_Term</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>AUCA_Servlets.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>AUCA_Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAuthorization</display-name>
    <servlet-name>AdminAuthorization</servlet-name>
    <servlet-class>AUCA_Servlets.AdminAuthorization</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAuthorization</servlet-name>
    <url-pattern>/AdminAuthorization</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherAuthorization</display-name>
    <servlet-name>TeacherAuthorization</servlet-name>
    <servlet-class>AUCA_Servlets.TeacherAuthorization</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherAuthorization</servlet-name>
    <url-pattern>/TeacherAuthorization</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentAuthorization</display-name>
    <servlet-name>StudentAuthorization</servlet-name>
    <servlet-class>AUCA_Servlets.StudentAuthorization</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAuthorization</servlet-name>
    <url-pattern>/StudentAuthorization</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>aucaJournalAuthorization</display-name>
    <servlet-name>aucaJournalAuthorization</servlet-name>
    <servlet-class>AUCA_Servlets.aucaJournalAuthorization</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aucaJournalAuthorization</servlet-name>
    <url-pattern>/aucaJournalAuthorization</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AucaJournalServlet</display-name>
    <servlet-name>AucaJournalServlet</servlet-name>
    <servlet-class>AUCA_Servlets.AucaJournalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AucaJournalServlet</servlet-name>
    <url-pattern>/AucaJournalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>AUCA_Servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>